.fixed-btn {
    position: fixed;
    width: 180px;
    height: 45px;
    line-height: 45px;
    bottom: 10%;
    right: 5%;
    border-radius: 3%;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    -webkit-box-shadow: 6px 9px 20px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 6px 9px 20px 1px rgba(0, 0, 0, 0.4);
}
.container{
    margin-top: 50px;
}